/* propriété : valeur */

/* selecteur : la manière de récupérer un élément de la page (balise) */

/* body {
    background-color: red;
} */

form {
    border: 1px solid black;
}

/* récupérer un élément par sa classe*/

.w-50 {
    width: 50%;
}

input, select, textarea {
    height: 25px;
    padding: 0px 10px;
    /* padding: 0px 10px 0px 10px; */
    /* padding-left: 10px;
    padding-right: 10px; */
}

.d-flex {
    display:flex;
}

.justify-content-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-style: italic;
}

.input-container {
    margin: 10px 0;  /* 10px en haut et en bas et 0 sur les côtés */
    /* margin: 10px; ca en met en haut à droite en bas à gauche */
    /* margin: 10px 5px 15px 20px;  10px en haut et 5px à droite 15px en bas et 20 sur à gauche */
   
}

.p2 {
    padding: 2rem;
}

.ml-1 {
    margin-left: 1rem;
}

.mr-1 {
    margin-right: 1rem;
}

input[type="submit"] {
    margin-bottom: 1rem;
}

input[type="range"] {
    width: 100%;
}

input[type="reset"] {
    /* background-color: black; */
    /* background-color: #000000; */
    /* background-color: rgb(0, 0, 0); */
    background-color: rgba(0, 0, 0, 0.4);
}

h1 {
    text-align: center;
}

.align-items-center {
    align-items: center;
}

/* les labels qui sont dans mes div avec l'id sexe je veux pas de marge */

#sexe label, #promotion label {
    margin-bottom: 0px;
}